[user]
	name = Shota Iguchi
	email = shota-iguchi@cookpad.com
[alias]
	s = status
	d = diff
	c = commit
	co = checkout
	b = branch
	m = merge
	l = log
	a = add
[color]
	ui = auto
[push]
	default = matching
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[merge "mergepbx"]
	name = Xcode project files merger
	driver = mergepbx %O %A %B
